* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(45deg, #344a72, #3c5b96e8);
  /* 344a72 is the original bg color for reference */
}
.container {
  margin: auto auto;
  padding: 40px;
  max-width: 900px;
}
.heading,
button,
.bottom,
.end {
  text-align: center;
}
form {
  text-align: left;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
}
input:hover {
  background-color: rgba(238, 238, 238, 0.973);
}
p {
  color: whitesmoke;
  margin-bottom: 10px;
  font-size: 16px;
}
hr {
  width: 5%;
  height: 5%;
  margin: auto;
  margin-bottom: 10px;
  border: 0.1px solid white;
}
a {
  text-decoration: none;
  color: rgb(167, 167, 250);
}
label {
  display: block;
  color: white;
  margin-bottom: 3px;
  font-size: 18px;
}
button {
  display: block;
  width: 100%;
  padding: 15px;
  background-image: linear-gradient(90deg, #49c1a2, #49c1a3d2);
  /* 49c1a2 is the original bg color for reference */
  color: white;
  border-radius: 20px;
  font-size: 18px;
}
button:hover {
  background-image: linear-gradient(50deg, #67d8bcc2, #35ecbeb6);
  cursor: pointer;
}
#footer_link {
  color: #70ddc2;
}
#footcolor {
  color: white;
}
.heading {
  color: white;
}
.groupings {
  margin-bottom: 15px;
}
.form_wrap {
  background-color: #769be041;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  margin-bottom: 25px;
  box-shadow: 12px 15px 1px 1px rgba(245, 245, 245, 0.836);
  border: 0.5px solid rgba(255, 255, 255, 0.253);
  transition: all 0.8s;
}
.form_wrap:hover {
  transform: scale(1.01);
}
