* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #333;
  text-align: left;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.join {
  background-color: #fffbdfe7;
  height: 33vh;
}
.subscription {
  background-color: #c6ffc16e;
  height: 33vh;
}
.why {
  background-color: #34656d;
  color: #fff;
  height: 35vh;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
div {
  width: 80%;
}
button {
  border: 0.5rem solid #8dec8483;
  background-color: #8dec8483;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.3rem;
  width: 100%;
}
h2 {
  margin: 1rem auto;
  font-size: 2rem;
}
p {
  margin: 1rem auto;
  font-size: 1.3rem;
}
ul li {
  font-size: 1.3rem;
  list-style-type: none;
}
@media screen and (min-width: 500px) {
  div {
    width: 80%;
  }
  button {
    font-size: 1.4rem;
    width: 50%;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.4rem;
  }
  ul li {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 700px) {
  body {
    color: #333;
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .join {
    background-color: #fffbdfe7;
    height: 30vh;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .subscription {
    background-color: #c6ffc16e;
    height: 45vh;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .why {
    background-color: #34656d;
    color: #fff;
    height: 45vh;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
  }
}
@media screen and (min-width: 900px) {
  main {
    width: 65%;
  }
}
@media screen and (min-width: 1100px) {
  main {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  main {
    width: 45%;
  }
}
