* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  font-family: "Staatliches", cursive;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-1 {
  height: 30vh;
  width: 100%;
  background-color: #ba2362;
}
.scoreBoard {
  height: 40vh;
  width: 100%;
  background-color: #fff;
}
.player-2 {
  height: 30vh;
  width: 100%;
  background-color: #ba2362;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}
button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1.5rem auto;
  background-color: #2e2f31;
  color: #fff;
  font-family: "Staatliches", cursive;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0.5rem;
  border: 0;
  font-size: 2rem;
}
button:hover {
  cursor: pointer;
  background-color: #252525;
}
.active {
  background-color: #99a0da;
}
.winner {
  background-color: #5b0009;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.25rem;
}
span {
  font-size: 2rem;
}
@media screen and (min-width: 500px) {
  .container {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }
  .player-1 {
    height: 100vh;
  }
  .scoreBoard {
    height: 100vh;
  }
  .player-2 {
    height: 100vh;
  }
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 90%;
  }
  button {
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  span {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .player-1 {
    width: 40%;
  }
  .scoreBoard {
    width: 20%;
  }
  .player-2 {
    width: 40%;
  }
  .container {
    width: 95%;
  }
  button {
    font-size: 2rem;
    width: 100%;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  span {
    font-size: 4rem;
  }
}
