* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  color: #444;
  background-color: #ffbbcc48;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/Projects/myPeaceofCake/img/profile/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
nav {
  position: sticky;
  top: 0;
  background-color: #99154ee7;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.star {
  margin-right: auto;
}
li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
.menu {
  background-color: #ffbbcc48;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
img {
  width: 100%;
  height: auto;
  margin: 0.5rem auto;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgba(97, 97, 97, 0.418);
}
label {
  display: block;
  margin: 0.6rem auto;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}
input {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  font-family: "Lato", sans-serif;
}
textarea {
  width: 100%;
  margin: 0.5rem auto;
  height: auto;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  font-family: "Lato", sans-serif;
}
button {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffbbcc;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 4.5rem;
  margin: 0.5rem auto;
  font-family: "Fredoka One", cursive;
  font-weight: 700;
  color: rgb(250, 201, 228);
}
p {
  font-size: 2rem;
  margin: 0.5rem auto;
  font-family: "Lato", sans-serif;
  color: rgb(247, 216, 233);
}
h2 {
  font-size: 2.8rem;
  margin: 0 auto;
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 2.3rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
footer {
  background-color: #99154ee7;
}
footer p {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.4rem;
  color: #fff;
}
@media screen and (max-width: 280px) {
  ul {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 500px) {
  .container {
    width: 85%;
  }
  img {
    width: 90%;
  }
  .order {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 85%;
  }
  img {
    width: 80%;
  }
  .order {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 700px) {
  .hero {
    flex-direction: row;
  }
  .container {
    width: 85%;
  }
  img {
    width: 75%;
  }
  .order {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 80%;
  }
  img {
    width: 70%;
  }
  .order {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: #fcfaf9;
  }
  .text {
    width: 45%;
    margin: 1rem auto;
  }
  .image {
    display: inline-block;
    width: 55%;
    background-image: url("/Projects/myPeaceofCake/img/profile/prof2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container {
    width: 75%;
  }
  img {
    width: 60%;
  }
  .order {
    width: 60%;
    margin: 0 auto;
  }
  h1 {
    font-size: 4rem;
    margin: 0.5rem auto;
    font-family: "Fredoka One", cursive;
    font-weight: 700;
    color: #681136;
  }
  p {
    color: #444;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    width: 50%;
    margin: 1rem auto;
  }
  .image {
    width: 50%;
  }
  .container {
    width: 60%;
  }
  img {
    width: 50%;
  }
  .order {
    width: 50%;
    margin: 0 auto;
  }
  h1 {
    font-size: 7rem;
  }
  p {
    font-size: 3rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
}
