* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  color: #333335;
  font-family: "Barlow", sans-serif;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(img/blob-scene-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid {
  background-image: url(img/blob-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}
.grid div img {
  border-radius: 0.5rem;
}
.experience {
  background-image: url(img/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.number {
  border-radius: 50%;
  margin: 0 auto;
  width: 15%;
  padding: 0.5rem;
  border: 0.1rem solid rgb(153, 153, 153);
  color: rgb(153, 153, 153);
}
button {
  width: 70%;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  display: block;
  text-transform: uppercase;
}
img {
  width: 100%;
  height: auto;
}
section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  width: 90%;
}
.built-text-first {
  color: #0e6b70;
}
.green {
  background-color: #2d825c;
  color: #fff;
  border: 0.1rem solid #2d825c;
}
.green:hover {
  background-color: #205c41;
  border: 0.1rem solid #205c41;
}
.pink {
  background-color: #c15297;
  color: #fff;
  border: 0.1rem solid #c15297;
}
.pink:hover {
  background-color: #9e417a;
  border: 0.1rem solid #9e417a;
}
button:hover {
  cursor: pointer;
}
h1 {
  font-size: 4rem;
  margin: 1rem auto;
  text-transform: uppercase;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
  margin: 1rem auto;
  text-transform: uppercase;
  font-weight: 800;
}
p {
  font-size: 1.8rem;
  margin: 1.25rem auto;
}
button {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
}
@media screen and (min-width: 500px) {
  .hero img {
    width: 80%;
    height: auto;
  }
  div {
    width: 80%;
  }
  button {
    width: 50%;
  }
}
@media screen and (min-width: 700px) {
  .hero img {
    width: 70%;
    height: auto;
  }
  .number {
    border-radius: 50%;
    width: 10%;
  }
  div {
    width: 70%;
  }
  button {
    width: 50%;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  p {
    font-size: 2rem;
  }
  button {
    font-size: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .hero img {
    width: 50%;
    height: auto;
  }
  .number {
    border-radius: 50%;
    width: 8%;
    margin: 0.5rem auto;
  }
  div {
    width: 70%;
  }
  button {
    width: 50%;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  p {
    font-size: 2rem;
  }
  button {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .hero img {
    width: 45%;
    height: auto;
  }
  .number {
    width: 8%;
    margin: 0.5rem auto;
  }
  div {
    width: 50%;
  }
  button {
    width: 35%;
  }
}
@media screen and (min-width: 1400px) {
  .grid div {
    grid-gap: 2rem;
  }
  .number {
    width: 5%;
  }
  section {
    padding: 2rem;
  }
  div {
    width: 50%;
    padding: 2rem;
  }
  button {
    width: 35%;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2.25rem;
  }
  button {
    font-size: 2.25rem;
  }
}
