* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background-color: #23272c;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}
nav ul li a {
  color: #727e8b;
  text-decoration: none;
}
nav ul li:hover {
  cursor: pointer;
  color: #e5e5e5;
  background-color: #404e5c;
}
nav ul li:hover a {
  cursor: pointer;
  color: #e5e5e5;
  background-color: #404e5c;
}
#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  background-color: #404e5c;
  background-image: url(img/wave-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about {
  color: #404e5c;
}
#skills {
  color: #e5e5e5;
  background-color: #404e5c;
}
#skills ul li {
  list-style-type: none;
  font-size: 1.25rem;
}
#projects {
  color: #404e5c;
  background-image: url(img/circle-scatter-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.project-container-block {
  border-radius: 0.2rem;
  background-color: #fff;
  width: 95%;
  padding: 0.5rem;
  margin: 0.5rem auto;
}
#contact {
  color: #e5e5e5;
  background-color: #404e5c;
}
section {
  padding: 0.75rem;
}

/* FONT SIZES */
h1 {
  color: #fcaf58;
  font-size: 3rem;
  margin: 0.5rem auto;
  font-family: "Staatliches", cursive;
}
.hero-text {
  font-size: 1.4rem;
}
h2 {
  font-size: 2.25rem;
  margin: 0.5rem auto;
  font-family: "Staatliches", cursive;
}
h3 {
  font-size: 1.5rem;
  margin: 0.5rem auto;
  font-family: "Staatliches", cursive;
}
p {
  font-size: 1.25rem;
  margin: 0.5rem auto;
}
button {
  font-family: "Varela Round", sans-serif;
  padding: 0.75rem;
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem auto;
  border-radius: 0.2rem;
  border: 0.05rem solid #404e5ca6;
  background-color: #404e5ca6;
  color: #e5e5e5;
  /* border: 0.05rem solid #da913d;
  background-color: #da913d; */
  color: #1c1e20;
}
button:hover {
  cursor: pointer;
  border: 0.05rem solid #404e5ca6;
  background-color: #e5e5e5;
  color: #404e5ca6;
}
button a {
  color: #e5e5e5;
  text-decoration: none;
}
button:hover a {
  color: #404e5ca6;
}
footer p {
  background-color: #32363b;
  padding: 1rem;
  margin: 0 auto;
  color: #e5e5e5;
  font-size: 1.5rem;
}

@media screen and (min-width: 500px) {
  .responsive-container {
    width: 90%;
    margin: 0 auto;
  }
  .project-container-block {
    width: 90%;
  }
  section {
    padding: 1rem;
  }
  /* FONT SIZES */
  h1 {
    font-size: 3.25rem;
  }
  .hero-text {
    font-size: 1.65rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  #skills ul li,
  h3,
  p,
  button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 700px) {
  .responsive-container {
    width: 80%;
    margin: 0 auto;
  }
  .project-container-block {
    width: 70%;
  }
  section {
    padding: 1.25rem;
  }
  /* FONT SIZES */
  h1 {
    font-size: 5rem;
  }
  .hero-text {
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  #skills ul li,
  h3,
  p,
  button,
  nav ul li {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 900px) {
  .responsive-container {
    width: 70%;
  }
  .project-container {
    flex-direction: row;
    width: 90%;
    padding: 1rem;
  }
  .project-container-block {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0.75rem;
  }
  section {
    padding: 1.5rem;
  }
  /* FONT SIZES */
  h1 {
    font-size: 7rem;
  }
  .hero-text {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 3.25rem;
  }
  #skills ul li,
  h3,
  p,
  button,
  nav ul li {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .responsive-container {
    width: 60%;
  }
  .project-container {
    width: 75%;
    padding: 1rem;
  }
  .project-container-block {
    width: 100%;
    padding: 1.5rem;
    margin: 0.5rem 0.75rem;
  }
  section {
    padding: 1.8rem;
  }
  /* FONT SIZES */
  h1 {
    font-size: 9rem;
  }
  .hero-text {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  #skills ul li,
  h3,
  p,
  button,
  nav ul li {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1400px) {
  .responsive-container {
    width: 40%;
  }
  .project-container {
    width: 75%;
    padding: 1rem;
  }
  .project-container-block {
    width: 100%;
    padding: 2rem;
    margin: 0.5rem 0.75rem;
  }
  section {
    padding: 2rem;
  }
  /* FONT SIZES */
  h1 {
    font-size: 9rem;
  }
  .hero-text {
    font-size: 3rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  #skills ul li,
  h3,
  p,
  button,
  nav ul li {
    font-size: 2.5rem;
  }
}
