* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: "Staatliches", cursive;
}
main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2rem;
}
.subheading-1 {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}
.subheading-2 {
  font-size: 1.5rem;
}
.player-block-1 {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0014adc;
  color: #fff;
}
.scoreboard-block {
  padding: 1.5rem;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-block-2 {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0014adc;
  color: #fff;
}
button {
  display: block;
  width: 80%;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.8rem;
  background-color: #2e2f31;
  border: 0.1rem solid #2e2f31;
  color: #fff;
  border-radius: 1rem;
  font-family: "Staatliches", cursive;
}
button:hover {
  cursor: pointer;
}
.active {
  background-image: linear-gradient(45deg, #b993d6, #8ca6db);
}
.winner {
  background-image: linear-gradient(45deg, #200122, #6f0000);
  color: #fff;
}
.winner-banners {
  font-size: 3rem;
}
.sub-headings {
  font-size: 2.2rem;
}

@media screen and (min-width: 500px) {
  main {
    height: 100vh;
    width: 100%;
  }
  button {
    width: 40%;
  }
}
@media screen and (min-width: 500px) {
  button {
    width: 40%;
  }
}
@media screen and (min-width: 600px) {
  button {
    width: 30%;
  }
}
@media screen and (min-width: 700px) {
  button {
    width: 20%;
  }
}
@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }
  .player-block-1 {
    width: 35%;
    height: 100vh;
  }
  .scoreboard-block {
    width: 30%;
    height: 100vh;
  }
  .player-block-2 {
    width: 35%;
    height: 100vh;
  }
  button {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .player-block-1 {
    width: 40%;
    height: 100vh;
  }
  .scoreboard-block {
    width: 20%;
    height: 100vh;
  }
  .player-block-2 {
    width: 40%;
    height: 100vh;
  }
  button {
    width: 100%;
    font-size: 2.4rem;
  }
  .winner-banners {
    font-size: 5rem;
  }
  .sub-headings {
    font-size: 3.2rem;
  }
}
