* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: "Roboto", sans-serif;
  background-color: #faf3f3;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f396a7f5;
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
}
li {
  list-style-type: none;
  padding: 1rem;
}
li:hover {
  background-color: antiquewhite;
}
#logo {
  margin-right: auto;
  margin-left: 1rem;
}
#logo:hover {
  background-color: #ec889aab;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  font-family: "Roboto", sans-serif;
  color: #222;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
}
.main-opener {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/Projects/Car-House/img/darkened.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-opener-container {
  width: 80%;
  color: white;
}
h1 {
  font-size: 5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
}
.main-opener-container p {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact-me,
.appointment {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 0.1rem solid #da7f8f;
}
.contact-me {
  background-image: linear-gradient(90deg, #da7f90, #da7f90bb, #da7f90a9);
}
.appointment {
  background-image: linear-gradient(45deg, #eca0ae, #e791a1bb, #da7f90);
}
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.about-us-container-items {
  margin: 2rem 0;
}
.promotion-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
}
h3 {
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
}
img {
  width: 100%;
  margin: 1rem auto;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0.05rem 0.05rem 0.1rem 0.1rem rgba(109, 109, 109, 0.692);
}
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.contact-us-container {
  background-color: #e1e5ea9d;
  margin: 0;
  height: auto;
  width: 100%;
}
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}
input {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
.btn-submit {
  display: block;
  padding: 1rem;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: #e08c7fa4;
  font-size: 1.5rem;
  transition: transform 0.25s ease-in;
}
.btn-submit:hover {
  transform: scale(1.05);
}
footer {
  background-color: #ec889aab;
}
.footer-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

@media only screen and (min-width: 500px) {
  /* nav ul {
    width: 80%;
  }
  .main-opener-container {
    width: 80%;
  } */
  .about-us {
    width: 80%;
  }
  .promotion-container {
    width: 80%;
  }
  .contact-us {
    width: 80%;
  }
  .footer-container {
    width: 80%;
  }
  .contact-me,
  .appointment {
    width: 80%;
  }
  img {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) {
  nav ul {
    width: 70%;
  }
  .main-opener-container {
    width: 60%;
  }
  .about-us {
    width: 60%;
  }
  .promotion-container {
    width: 60%;
  }
  .contact-us {
    width: 60%;
  }
  .footer-container {
    width: 60%;
  }
  .contact-me,
  .appointment {
    width: 60%;
  }
}
@media only screen and (min-width: 700px) {
  nav ul {
    width: 70%;
  }
  .main-opener-container {
    width: 50%;
  }
  .about-us {
    width: 50%;
  }
  .promotion-container {
    width: 50%;
  }
  .contact-us {
    width: 50%;
  }
  .footer-container {
    width: 50%;
  }
  .contact-me,
  .appointment {
    width: 60%;
  }
}
@media only screen and (min-width: 1000px) {
  nav ul {
    width: 60%;
    font-size: 2rem;
  }
  .main-opener-container {
    width: 55%;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.5em;
  }
  .main-opener-container p {
    font-size: 2.8rem;
  }
  .about-us {
    width: 55%;
  }
  .promotion-container {
    width: 55%;
  }
  .contact-us {
    width: 55%;
  }
  .footer-container {
    width: 55%;
    font-size: 1.6rem;
  }
  .contact-me,
  .appointment {
    width: 40%;
  }
  img {
    width: 70%;
  }
}
