* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #b97a95;
}
.btn-container {
  width: 90%;
  margin: 0 auto;
}
.click {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 3rem;
  background-color: #1e272c;
  color: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid #1e272c;
}
@media screen and (min-width: 500px) {
  .click {
    width: 50%;
  }
}
@media screen and (min-width: 700px) {
  .click {
    width: 30%;
  }
}
@media screen and (min-width: 900px) {
  .click {
    width: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .click {
    width: 20%;
  }
}
