* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #333;
  text-align: center;
  background-image: url(img/low-poly-grid-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
h1 {
  font-size: 2.8rem;
  margin: 1rem auto;
  font-family: "Staatliches", cursive;
  background-color: #000e1a;
  color: #fff;
  width: 100%;
  border-radius: 0.35rem;
  padding: 1rem;
  letter-spacing: 0.12rem;
}
h2 {
  font-size: 2rem;
  font-family: "Staatliches", cursive;
}
div {
  width: 100%;
  margin: 1rem auto;
}
label {
  font-size: 1.6rem;
  display: block;
}
input {
  display: block;
  width: 100%;
  margin: 0.25rem auto;
  padding: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.35rem;
  background-color: rgb(224, 224, 224);
  border: 0;
  font-size: 1.6rem;
}
button {
  display: block;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.35rem;
  background-color: #000e1a;
  color: #fff;
  border: 0;
  font-size: 1.6rem;
}
button:hover {
  cursor: pointer;
  background-color: rgb(65, 65, 65);
}
.reset {
  background-color: #9b0000;
}
.reset:hover {
  background-color: #630808;
}
@media screen and (min-width: 500px) {
  body {
    height: 100vh;
  }
  main {
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  main {
    width: 60%;
  }
}
@media screen and (min-width: 900px) {
  main {
    width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  main {
    width: 40%;
  }
}
@media screen and (min-width: 1300px) {
  main {
    width: 30%;
  }
}
