* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #333;
  background-image: url(img/stacked-peaks-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}
nav {
  width: 100%;
  position: fixed;
  background-color: #ad1a30;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  font-size: 1.25rem;
  color: #fff;
}
li {
  list-style-type: none;
  padding: 1rem;
}
li:hover {
  background-color: #66111e;
  cursor: pointer;
}
a {
  color: #fff;
  text-decoration: none;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/darkened.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  margin: 2rem auto;
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
.responsive {
  width: 90%;
  margin: 0 auto;
}
.contact {
  width: 90%;
  margin: 2rem auto;
}
label {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.1rem;
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
}
input {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  border: 0;
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
button {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Rubik", sans-serif;
  width: 50%;
  font-size: 1.25rem;
  background-color: #ad1a30;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
}
button:hover {
  background-color: #66111e;
  cursor: pointer;
}
.contact button {
  width: 100%;
  margin: 1rem auto;
  background-color: #ad1a30;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
}
.contact button:hover {
  cursor: pointer;
  background-color: #5e0f1a;
}
footer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ad1a30;
}
footer p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 3.5rem;
  margin: 0.25rem auto;
}
h2 {
  font-size: 2rem;
  margin: 0.25rem auto;
}
h3 {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}
p {
  font-size: 1.25rem;
}

@media screen and (min-width: 500px) {
  .about,
  .responsive,
  .contact,
  footer p,
  ul {
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  .about,
  .responsive,
  .contact,
  footer p,
  ul {
    width: 70%;
  }
}
@media screen and (min-width: 900px) {
  .about,
  .responsive,
  .contact,
  footer p,
  ul {
    width: 55%;
  }
}
@media screen and (min-width: 1100px) {
  .about,
  .responsive,
  .contact,
  footer p,
  ul {
    width: 45%;
  }
  li {
    padding: 1rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1400px) {
  .about,
  .responsive,
  .contact,
  footer p,
  ul {
    width: 40%;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.5rem;
  }
  label {
    font-size: 1.5rem;
  }
  input {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
  }
  ul {
    font-size: 1.5rem;
  }
}
/* 
 FONT SIZES 
 h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  label {
    font-size: 1.25rem;
  }
  input {
    font-size: 1.25rem;
  }
  button {
    font-size: 1.25rem;
  }
*/
