* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  color: #444;
  background-color: #e4efe7;
}
main {
  width: 90%;
  margin: 0 auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-1 {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fdfaf6;
  border-radius: 2rem;
  box-shadow: -0.1rem 0.1rem 0.01rem 0.01rem rgba(197, 196, 196, 0.562);
}
.card {
  background-color: #fdfaf6;
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 1.2rem;
  box-shadow: -0.1rem 0.1rem 0.01rem 0.01rem rgba(197, 196, 196, 0.562);
}
.register-now {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
input {
  height: 1.8rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  font-family: "Roboto", sans-serif;
}
label {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 0.01rem solid #777;
  border-radius: 0.2rem;
  height: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #02475ebb;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
h2 {
  margin: 1rem auto;
  padding: 0.25rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
h3 {
  margin: 1rem auto;
  padding: 0.25rem;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
h4 {
  margin: 1rem auto;
  padding: 0.25rem;
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
p {
  margin: 0.5rem auto;
  padding: 0.25rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: -0.1rem 0.1rem 0.01rem 0.01rem rgba(71, 71, 71, 0.726);
}
header,
footer {
  background-color: #02475e;
  color: #fff;
  padding: 1rem;
}
footer p {
  font-size: 1.3rem;
}
@media screen and (min-width: 500px) {
  main {
    width: 60%;
  }
}
@media screen and (min-width: 600px) {
  main {
    width: 65%;
  }
  h1 {
    font-size: 3rem;
  }
  a {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.1rem;
  }
  p {
    font-size: 1.8rem;
  }
  footer p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 750px) {
  main {
    width: 100%;
  }
  .box-1 {
    margin: 1.5rem auto;
    width: 60%;
  }
  .box-2 {
    width: 95%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 0 1rem;
    padding: 1.5rem;
    transition: transform 0.25s ease-in 0.01s;
  }
  .card:hover {
    transform: scale(1.02);
  }
}
@media screen and (min-width: 1000px) {
  main {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  main {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  main {
    width: 70%;
  }
}
@media screen and (min-height: 1000px) {
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
