body {
    background-image: url("images/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.count-back {
    text-align: center;
    background-color: snow;
    border: 20px solid lightgrey;
    margin: 200px 150px 100px 150px;
    padding: 15px 15px 15px 15px;
    overflow: auto;
}
button {
    background-color: darkgray;
    border: 5px solid lightgray;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
h1 {
    text-shadow: 2px 1px black;
    font-size: 25px;
}
p {
    font-size: 20px;
}