body {
    background-color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main {
    background-color: rgb(255, 255, 255);
    margin: 0.5vw 0.25vw -1vw 0.25vw;
    display: grid;
    grid-template-columns: repeat(12, 1.25fr);
    grid-template-rows: repeat(12, auto);
    justify-content: center;
    border: 1px solid rgb(236, 230, 230);
    border-radius: 2px;
    box-shadow: 2px 2px rgb(233, 232, 232);
    text-align: center;
    grid-column-gap: 0.5px;
    grid-row-gap: 0.5px;
}
a {
    text-decoration: none;
    color: rgb(117, 113, 113);
    background-color: rgb(238, 234, 234);
    font-weight: bold;
    font-size: 16px;
    padding: 4px 2px 4px 2px;
    vertical-align: middle;
    width: 100%;
    
}
a:hover {
    color: rgb(230, 167, 176);
    background-color: rgb(138, 132, 132);
}
#cupcakes_ {
    grid-column: 1/4;
    grid-row: 1/2;
}
#brownies_cookies {
    grid-column: 4/7;
    grid-row: 1/2;
}
#about_ {
    grid-column: 7/10;
    grid-row: 1/2;
}
#contact_{
    grid-column: 10/13;
    grid-row: 1/2;
}
.container_logo {
    grid-column: 1/4;
    grid-row: 2/3;
    border: 2px solid white;
}
img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#cup1 {
    grid-column: 4/7;
    grid-row: 2/3;
    border: 1px solid whitesmoke;
}
#cup10 {
    grid-column: 7/10;
    grid-row: 2/3;
    border: 1px solid whitesmoke;
}
#cup2 {
    grid-column: 10/13;
    grid-row: 2/3;
    border: 1px solid whitesmoke;
}
#cup3 {
    grid-column: 1/4;
    grid-row: 3/4;
    border: 1px solid whitesmoke;
}
#cup4 {
    grid-column: 4/7;
    grid-row: 3/4;
    border: 1px solid whitesmoke;
}
#cup5 {
    grid-column: 7/10;
    grid-row: 3/4;
    border: 1px solid whitesmoke;
}
#cup6 {
    grid-column: 10/13;
    grid-row: 3/4;
    border: 1px solid whitesmoke;
}
#cup7 {
    grid-column: 1/4;
    grid-row: 4/5;
    border: 1px solid whitesmoke;
}
#cup8 {
    grid-column: 4/7;
    grid-row: 4/5;
    border: 1px solid whitesmoke;
}
#cup9 {
    grid-column: 7/10;
    grid-row: 4/5;
    border: 1px solid whitesmoke;
}
.container_about {
    object-fit: contain;
    width: 100%;
    grid-column: 10/13;
    grid-row: 4/5;
    background-color: rgb(238, 206, 230);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid white;
    color: rgb(109, 107, 107);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 2px 10px;
    margin-right: 85vw;
    border: 1px solid rgb(160, 159, 159);
}
.container_about:hover {
    background-color: rgb(97, 94, 94);
    opacity: 1;
    background-image: url("pics/profile.jpg");
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
}
#summer {
    grid-column: 1/4;
    grid-row: 5/6;
    border: 1px solid whitesmoke;
}
#brownies {
    grid-column: 4/7;
    grid-row: 5/6;
    border: 1px solid whitesmoke;
}
#cookie1 {
    grid-column: 7/10;
    grid-row: 5/6;
    border: 1px solid whitesmoke;
}
#cookie2 {
    grid-column: 10/13;
    grid-row: 5/6;
    border: 1px solid whitesmoke;
}
#contact {
    grid-column: 4/10;
    grid-row: 6/7;
    padding: 15px 2px 15px 2px;
}
#order {
    background-color: #f0d1f1;
    border: 3px solid rgb(158, 158, 158);
    border-radius: 5px;
    color: rgb(105, 102, 102);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
#order:hover {
    background-color: rgb(105, 102, 102);;
    border: 3px solid rgb(219, 216, 216);
    border-radius: 5px;
    color: #f0d1f1;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}