* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  color: #333;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
.hero {
  height: 100vh;
  background-image: url("/Projects/Szolaza/img/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image {
  display: none;
}
.text {
  color: #fff;
  width: 80%;
}
span {
  display: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bags {
  height: 50vh;
  background-image: url("/Projects/Szolaza/img/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.men {
  height: 50vh;
  background-image: url("/Projects/Szolaza/img/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.women {
  height: 50vh;
  background-image: url("/Projects/Szolaza/img/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
button {
  background-color: #0d1016;
  border: 0.1rem solid #0d1016;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem;
  width: 85%;
  margin: 1.5rem auto;
  display: block;
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  cursor: pointer;
  background-color: #1d222c;
  border: 0.1rem solid #1d222c;
}
footer {
  background-color: #0d1016;
  color: #fff;
  padding: 1rem;
}
footer p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}
h1 {
  font-size: 5rem;
  margin: 1rem auto;
  font-family: "Abril Fatface", cursive;
}
h2 {
  font-size: 2.7rem;
  margin: 1rem auto;
}
p {
  font-size: 1.7rem;
  margin: 1rem auto;
}
.hide {
  display: none;
}
@media screen and (min-width: 600px) {
  .men,
  .women,
  .bags {
    height: 80vh;
  }
  .container {
    width: 75%;
    margin: 0 auto;
  }
  .hide {
    display: block;
    margin: 1.2rem auto;
  }
  button {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: none;
  }
  .text {
    width: 50%;
    color: #333;
  }
  .text-container {
    width: 80%;
    margin: 0 auto;
  }
  span {
    display: inline;
  }
  .image {
    display: block;
    width: 50%;
    height: 100vh;
    background-image: url("/Projects/Szolaza/img/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  .text-container {
    width: 60%;
    margin: 0 auto;
  }
  .men,
  .women,
  .bags {
    height: 90vh;
  }
  .container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .text-container {
    width: 60%;
    margin: 0 auto;
  }
  .men,
  .women,
  .bags {
    height: 100vh;
  }
  .container {
    width: 45%;
  }
  button {
    font-size: 2rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 35%;
  }
  button {
    width: 50%;
  }
}
