* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: rgb(39, 39, 39);
  text-align: center;
  background-image: linear-gradient(180deg, #ccdaff, #c6b9ff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
button {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  width: 60%;
  margin: 1rem auto;
  border-radius: 2rem;
  background-image: linear-gradient(90deg, #614580, #5c386e);
  color: #fff;
  border: 0.2rem solid #613577;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #d3cce3, #e9e4f0);
  border: 0.2rem solid rgb(70, 70, 70);
  box-shadow: 1.2rem 1.2rem 0.5rem 0.08rem rgba(102, 102, 102, 0.116);
  color: #333;
}
h1 {
  font-size: 3rem;
  display: block;
  margin: 0.2rem auto;
  font-family: "Monoton", cursive;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
img {
  width: 90%;
  height: auto;
}
.appear {
  display: none;
}
@media screen and (max-height: 550px) {
  body {
    height: auto;
    display: block;
  }
  main {
    height: auto;
    display: block;
  }
}
@media screen and (min-width: 400px) {
  .container {
    width: 80%;
  }
  img {
    width: 70%;
  }
}
@media screen and (min-width: 500px) {
  .container {
    width: 70%;
  }
  img {
    width: 70%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 60%;
  }
}
@media screen and (min-width: 700px) {
  .container {
    width: 50%;
  }
  img {
    width: 80%;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 40%;
  }
  img {
    width: 75%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  img {
    width: 95%;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .heading {
    display: none;
  }
  .appear {
    display: block;
    font-size: 5rem;
    font-family: "Monoton", cursive;
    letter-spacing: 0.9rem;
  }
  button {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  p {
    font-size: 1.8rem;
  }
  .image {
    width: 50%;
  }
  .text {
    width: 50%;
    border-left: 0.1rem solid rgba(150, 150, 150, 0.397);
  }
}
@media screen and (min-width: 1200px) {
  .appear {
    font-size: 7rem;
  }
  button {
    font-size: 2rem;
    margin: 1.5rem auto;
  }
  h2 {
    font-size: 3rem;
    margin: 1.5rem auto;
  }
  p {
    font-size: 2rem;
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 75%;
  }
  img {
    width: 100%;
  }
  .appear {
    font-size: 8rem;
    letter-spacing: 1rem;
  }
  button {
    font-size: 2rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  p {
    font-size: 2.2rem;
  }
}
