* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}
form {
  width: 100%;
}
.form--block {
  margin: 1rem auto;
}
.form--block--div--label--inline {
  display: inline;
  font-size: 1.5rem;
  margin: 0.25rem auto;
}
.form--block--input {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
}
select {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
button {
  display: block;
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.button--submit {
  background-color: #903749;
  color: #fff;
  border: 0.1rem solid #903749;
}
.button--reset {
  background-color: #53354a;
  color: #fff;
  border: 0.1rem solid #53354a;
}
h1 {
  margin: 0.5rem auto;
  font-size: 3rem;
  font-family: "Comfortaa", cursive;
}
h2 {
  margin: 0.5rem auto;
  font-size: 1.5rem;
}
label {
  display: block;
  margin: 0.5rem auto;
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
  body {
    background-color: #2b2e4a;
  }
  main {
    background-color: #fafafa;
    width: 70%;
  }
}
@media screen and (min-width: 750px) {
  main {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  main {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  main {
    width: 40%;
  }
  .form--block--div--label--inline,
  select,
  button,
  h2,
  label,
  input {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1400px) {
  main {
    width: 30%;
  }
}
