* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #fca311;
  background-color: #14213d;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}
h1,
h2,
p {
  margin: 0.5rem auto;
}
button {
  padding: 1.5rem;
  width: 20%;
  font-size: 2rem;
  margin: 1rem auto;
  background-color: #242323;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #242323;
}
