* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  text-align: left;
  background-color: #fdf5df;
  color: #222;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-img {
  background-image: url("/Project_500/2_baseApparel/img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
.container-text {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  margin: 1rem auto;
  width: 100%;
}
button {
  display: block;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 100%;
  margin: 0.5rem auto;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  background-color: #f92c85;
  color: #fdf5df;
  border: 0.1rem solid #f92c85;
}
button:hover {
  background-color: rgb(196, 36, 105);
  cursor: pointer;
}
input {
  display: block;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  color: #222;
  border: 0;
  background-color: rgb(243, 243, 243);
}
h1 {
  font-weight: 700;
  font-size: 2.8rem;
  margin: 0.1rem auto;
  color: #5ebec4;
}
h2 {
  font-weight: 800;
  font-size: 2.25rem;
  margin: 0.5rem auto;
  color: #f92c85;
}
p {
  font-weight: 400;
  margin: 0.1rem auto;
  font-size: 1.25rem;
}
@media screen and (min-width: 500px) {
  main {
    height: 100vh;
    flex-direction: column;
    width: 100%;
  }
  .container-img {
    width: 100%;
    height: 50vh;
  }
  .container-text {
    width: 80%;
    height: 50vh;
  }
  button {
    font-size: 1.5rem;
  }
  input {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 700px) {
  .container-text {
    width: 60%;
    height: 50vh;
  }
}
@media screen and (min-width: 900px) {
  main {
    height: 100vh;
    flex-direction: row-reverse;
    width: 100%;
  }
  .container-img {
    width: 50%;
    height: 100vh;
  }
  .container-text {
    width: 50%;
    height: 100vh;
  }
  .container-text div {
    width: 80%;
  }
  .container-text-div {
    width: 80%;
    margin: 1rem 0;
  }
  button {
    font-size: 1.8rem;
    margin: 1rem auto;
  }
  input {
    font-size: 1.8rem;
    margin: 1rem auto;
  }
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  p {
    font-size: 1.8rem;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1400px) {
  .container-text div {
    width: 78%;
  }
  .container-text-div {
    width: 100%;
    margin: 1rem 0;
  }
  button {
    font-size: 2.25rem;
    margin: 1rem auto;
  }
  input {
    font-size: 2.25rem;
    margin: 1rem auto;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 2.25rem;
    margin: 1rem auto;
  }
}
