* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  color: #333;
}
.header {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  background-color: #0a1d37;
  color: #fff;
}
main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.card {
  width: 92%;
  margin: 1rem auto;
  padding: 1rem;
  border: 0.1rem solid #666;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:hover {
  cursor: pointer;
  background-color: #231e239a;
  color: #fff;
}
img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
}
footer {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  background-color: #0a1d37;
  color: #fff;
}
.modal {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hidden {
  display: none;
}
.overlay {
  z-index: 1;
  background-color: #666;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 92%;
    margin: 1rem auto;
    padding: 1rem;
    border: 0.1rem solid #666;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  main {
    width: 85%;
  }
}
@media screen and (min-width: 1000px) {
  main {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  main {
    width: 75%;
  }
}
@media screen and (min-width: 1400px) {
  main {
    width: 70%;
  }
}
